[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
bcrypt = "*"
pyjwt = {extras = ["crypto"], version = "*"}

[dev-packages]

[scripts]

[requires]
python_version = "3.9"
